/* Common Css Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,li {
  list-style: none;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1280px;
}
html,body {
  overflow-x: hidden;
  max-width: 100%;
}
/* Common Css End */
